@model MedicalOffice.Models.AppointmentReason

@{
    ViewData["Title"] = "Delete Appointment Reason";
}

<h2>Delete Appointment Reason</h2>

<h3>Are you sure you want to delete @Model.ReasonName?</h3>
<div>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReasonName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReasonName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" asp-controller="Lookups" asp-route-Tab="AppointmentReasonsTab">Back to Lookup List</a>
    </form>
</div>
